/******************************************************************
Site Name:
Author: Joe Mignano and Adam Toda

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


/***********************
SECTION SPECIFIC STYLES
***********************/

/* TOP */
/* --- */

#top-logo {
	margin-top: -4.5em;
	height: 9em;
}